<!DOCTYPE html>
<html>
    <head>
        <title>Sistema de Registro de Horas</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <div class="container">
            <h1 class="text-center">Sistema de Registro de Horas</h1>
            <p class="text-center">Insira suas informações abaixo para logar no sistema:</p>
            <form action="/users/login" method="POST">
                <input type="text" name="username" placeholder="Nome de usuário" />
                <input type="password" name="password" placeholder="Senha" />
                <button>Login</button>
            </form>
            <a href="/users/new" class="m-1">Novo usuário? Crie sua conta!</a>
            <% if (flashMessage.length > 0) { %>
            <p class="alert alert-success"><%= flashMessage %></p>
            <% } %>
        </div>
    </body>
</html>
