<!DOCTYPE html>
<html>
    <head>
        <title>Sistema de Registro de Horas</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <div class="container">
            <h1 class="text-center">Novo Usuário</h1>
            <p class="text-center">Preencha as informações a seguir para criar sua conta:</p>
            <form action="/users/new" method="POST">
                <input type="text" name="username" placeholder="Nome de Usuário" />
                <input type="text" name="name" placeholder="Nome Completo" />
                <input type="email" name="email" placeholder="E-mail" />
                <input type="password" name="password" placeholder="Crie uma Senha" />
                <input type="password" name="confirm_password" placeholder="Confirme a sua Senha" />
                <button>Criar</button>
            </form>
            <% if (flashMessage.length > 0) { %>
            <p class="alert alert-error" role="alert"><%= flashMessage %></p>
            <% } %>
            <a href="/">Voltar</a>
        </div>
    </body>
</html>
